<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Lista de Empleados</title>
	<link rel="stylesheet" href="/css/tables.css">
	<link rel="stylesheet" href="/css/navbar.css">
</head>

<body>
	<nav></nav>

	<main>
		<div class="cont_tabla">
			<section class="table_header">
				<div class="row">
					<h1>Lista de Empleados</h1>
				</div>
				<div class="row">
					<div>
						<form th:action="@{/empleado/new}" method="get" style="display:inline;" class="boton-header">
							<button type="submit" class="boton-btn">Nuevo</button>
						</form>
						<form th:action="@{/empleado}" method="get" style="display:inline;" class="boton-header">
							<input type="hidden" name="estado" th:value="${estadoActual} == true ? false : true" />
							<input type="hidden" name="idCargo" value="0" />
							<button type="submit" class="boton-btn">
								 [[${estadoActual} ? 'Inactivos' : 'Activos']]
							</button>
						</form>
						<!--<form th:action="@{/empleado}" method="get" class="buscardor">
							<input type="hidden" name="idCargo" th:value="${idCargo}" />
							<input type="hidden" name="estado" th:value="${estadoActual}" />
							<button type="submit" class="btn-label">Buscar</button>
							<input type="text" name="keyword" placeholder="Buscar nombre o apellido..."
								th:value="${keyword}" />
						</form>-->
					</div>
					<form id="filtroForm" th:action="@{/privado/empleado}" method="get">
						<div class="cbo-listar">
							<label>Cargo</label>
							<select name="idCargo" onchange="enviarFormulario()" id="idCargo">
								<option value="0" th:selected="${idCargo == 0}">Todos</option>
								<option th:each="item : ${listaCargos}" th:value="${item.id}"
									th:text="${item.descripcion}" th:selected="${item.id == idCargo}"></option>
							</select>
						</div>
						<div class="cbo-listar">
							<label>Distrito</label>
							<select name="idDistrito" onchange="enviarFormulario()" id="idDistrito">
								<option value="0" th:selected="${idDistrito == 0}">Todos</option>
								<option th:each="item : ${listaDistrito}" th:value="${item.id}"
									th:text="${item.descripcion}" th:selected="${item.id == idDistrito}"></option>
							</select>
						</div>
						<div class="cbo-listar">
							<label>Provincia</label>
							<select name="idProvincia" onchange="enviarFormulario()" id="idProvincia">
								<option value="0" th:selected="${idProvincia == 0}">Todos</option>
								<option th:each="item : ${listaProvincia}" th:value="${item.id}"
									th:text="${item.descripcion}" th:selected="${item.id == idProvincia}"></option>
							</select>
						</div>
						<div class="cbo-listar">
							<label>Departamento</label>
							<select name="idDepartamento" onchange="enviarFormulario()" id="idDepartamento">
								<option value="0" th:selected="${idDepartamento == 0}">Todos</option>
								<option th:each="item : ${listaDepartamento}" th:value="${item.id}"
									th:text="${item.descripcion}" th:selected="${item.id == idDepartamento}"></option>
							</select>
						</div>
						<input type="hidden" name="estado" th:value="${estadoActual}" />
					</form>
				</div>
			</section>

			<section class="table_body">
				<table>
					<thead>
						<tr>
							<th>Código</th>
							<th>Nombre</th>
							<th>Apellido</th>
							<th>Distrito</th>
							<th>DNI</th>
							<th>Teléfono</th>
							<th>Cargo</th>
							<th>Estado</th>
							<th>Acciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="emp : ${listaEmpleados}">
							<td class="centrado" th:text="${emp.codigo}"></td>
							<td th:text="${emp.nombre}"></td>
							<td th:text="${emp.apellido}"></td>
							<td th:text="${emp.distrito != null ? emp.distrito.descripcion : '---'}"></td>
							<td th:text="${emp.dni}"></td>
							<td th:text="${emp.telefono}"></td>
							<td th:text="${emp.cargo.descripcion}"></td>
							<td class="centrado" th:text="${emp.estado ? 'Activo' : 'Inactivo'}"></td>
							<td class="centrado">
								<form th:action="@{/empleado/edit/{id}(id=${emp.id})}" method="get"
									th:if="${emp.estado}">
									<button type="submit" class="btn btn-primary">Editar</button>
								</form>
								<form th:action="@{/empleado/info/{id}(id=${emp.id})}" method="get">
									<button type="submit" class="btn btn-info">Detalle</button>
								</form>
								<form th:action="@{/empleado/{id}/estado(id=${emp.id})}" method="post">
									<input type="hidden" name="estadoActual" th:value="${emp.estado}" />
									<input type="hidden" name="estadoFiltro" th:value="${estadoActual}" />
									<input type="hidden" name="idCargo" th:value="${idCargo}" />
									<button type="submit" class="btn btn-danger"
										th:text="${emp.estado ? 'Descontinuar' : 'Reactivar'}"></button>
								</form>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
		</div>
	</main>
</body>
<script>
	function enviarFormulario() {
		document.getElementById('filtroForm').submit();
	}
</script>

</html>